@import "tailwindcss";

:root {
  --color-accent: #c57a3a;
  --color-background: #060606;
  --color-text: #efe9e6;
  --color-muted-surface: rgba(255,255,255,0.03);
  --color-card-bg: rgba(18,18,18,0.95);
}

body {
  background-image: url("/background/fond-logo-noir.png");
  background-repeat: repeat;
  background-position: center top;
  background-size: cover;
  color: var(--color-text);
  font-family: 'Geist';
}
